.left-page {
  height: 80%;
  width: 300px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  margin: 80px;
}

.left-page__category__user {
  width: 300px;
  height: 28%;
  margin-bottom: 50px;
  border-radius: 30px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-page__category__user__login-form input {
  border-style: hidden;
  background-color: black;
  color: white;
}

.left-page__category__user__login-form input::placeholder {
  color: white;
}

.left-page__category__user h1 {
  color: white;
  font-size: 60px;
}

.left-page__category__user span {
  color: gray;
  font-style: italic;
  text-decoration: underline;
}

.left-page__category__time {
  width: 300px;
  height: 28%;
  margin-bottom: 50px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px,
    rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px,
    rgba(240, 46, 170, 0.05) 0px 25px;
}

.left-page__category__time h2 {
  font-size: 50px;
}

.left-page__category__sites {
  width: 300px;
  height: 28%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(0, 0, 0);
}

.left-page__category__sites__column:first-child {
  margin-bottom: 5px;
}

.left-page__category__sites__column a {
  text-decoration: none;
  color: inherit;
}

.left-page__category__sites__column:first-child i {
  margin-left: 5px;
}
