.right-page {
  height: 80%;
  width: 1200px;
  border-radius: 30px;
  margin: 80px 80px 40px 0px;
  background-color: rgb(255, 255, 255); /*This will be deleted.*/
}

.right-page__column {
  display: flex;
  height: 14%;
  width: 1200px;
}

.right-page__column__left,
.right-page__column__middle,
.right-page__column__right {
  width: 340px;
  height: 200%;
  border-radius: 30px;
}

.right-page__column__left,
.right-page__column__middle {
  margin-right: 40px;
}

.right-page__column__left__today,
.right-page__column__left__d-day {
  width: 340px;
  height: 45%;
  border-radius: 30px;
}

.right-page__column__left__today {
  margin-bottom: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(248, 121, 201, 0.1) 20px 20px,
    rgba(255, 255, 255, 0.05) 25px 25px;
}

.right-page__column__left__d-day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.right-page__column__left__d-day span {
  color: white;
  font-size: 20px;
}

#deadline-effect {
  color: hotpink;
  font-size: 40px;
}

.right-page__column__middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hotpink;
  box-shadow: rgb(255, 196, 101) 0px -50px 36px -28px inset;
}

.right-page__column__middle span {
  color: white;
}

.right-page__column__middle span:first-child {
  margin-bottom: 5px;
  font-size: 25px;
}

.right-page__column__middle span:nth-of-type(2) {
  font-size: 80px;
  margin-bottom: 10px;
}

.right-page__column__middle span:nth-of-type(3) {
  font-size: 20px;
  margin-bottom: 5px;
}

.right-page__column__middle span:last-child {
  display: flex;
  padding: 0px 45px;
  font-size: 15px;
}

.right-page__column__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: skyblue;
  background-color: black;
  box-shadow: rgba(112, 19, 78, 0.4) 5px 5px, rgba(96, 12, 65, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}

.right-page__column__right span:first-child {
  font-size: 80px;
  margin-bottom: 10px;
}

.right-page__column__right span:nth-child(2) {
  font-size: 20px;
  margin-bottom: 5px;
}

.right-page__column__right span:last-child {
  font-size: 15px;
  padding: 0px 45px;
}

#finedust-effect {
  color: rgb(251, 110, 110);
}
